In [1]:
# dependencies
import pandas as pd
import numpy as np
import os

In [2]:
#load school csv
cityschools = os.path.join("schools_complete.csv")

In [3]:
#read cityschools with pandas
cityschools_df = pd.read_csv(cityschools)

In [4]:
total_budget = cityschools_df['budget'].sum()

In [5]:
#load student csv
citystudents = os.path.join("students_complete.csv")

In [6]:
#read citystudents with pandas
citystudents_df = pd.read_csv(citystudents)

In [7]:
#change the school column header in cityschools
cityschools_df = cityschools_df.rename(columns={"name": "school"})
#cityschools_df.head()

In [8]:
#merget tables
schoolsdata_df = pd.merge(citystudents_df, cityschools_df, on="school")
#schoolsdata_df.head()

In [9]:
#**District Summary**

# * Create a high level snapshot (in table form) of the district's key metrics, including:
#   * Total Schools
total_schools = schoolsdata_df['school'].nunique()
#print(total_schools)

In [10]:
#   * Total Students
total_students=len(schoolsdata_df.axes[0])
#print(total_students)

In [11]:
#   * Average Math Score
district_average_math = schoolsdata_df['math_score'].mean()
#print(district_average_math)

In [12]:
#   * Average Reading Score
district_average_reading = schoolsdata_df['reading_score'].mean()
#print(district_average_reading)

In [13]:
#  * % Passing Math
bins = [1, 70, 100]
score = [False, True]

In [14]:
pd.cut(schoolsdata_df['math_score'], bins, labels=score)
schoolsdata_df['passing_math'] = pd.cut(schoolsdata_df['math_score'], bins, labels=score)
#schoolsdata_df.head()

In [15]:
schoolsdata_df['passing_math'] = schoolsdata_df['passing_math'] == True
mpass_district = schoolsdata_df['passing_math'].sum()
#print(mpass_district)

In [16]:
pmpass_district = mpass_district / total_students * 100
#print(pmpass_district)

In [17]:
#   * % Passing Reading
Bins = [1, 70, 100]
Score = [False, True]

In [18]:
pd.cut(schoolsdata_df['reading_score'], bins, labels=score)
schoolsdata_df['passing_reading'] = pd.cut(schoolsdata_df['reading_score'], bins, labels=score)
#schoolsdata_df.head()

In [19]:
schoolsdata_df['passing_reading'] = schoolsdata_df['passing_reading'] == True
rpass_district = schoolsdata_df['passing_reading'].sum()
#print(rpass_district)

In [20]:
prpass_district = rpass_district / total_students * 100
#print(prpass_district)

In [21]:
#   * Overall Passing Rate (Average of the above two)
district_passing = pmpass_district / prpass_district * 100
#print(district_passing)

In [22]:
district_summary = pd.DataFrame({'Total Schools': [total_schools],
                                 'Total Students': [total_students], 
                                 'Total Budget': [total_budget], 
                                 'Average Math Score': [district_average_math],
                                 'Average Reading Score': [district_average_reading],
                                 '% Passing Math': [pmpass_district],
                                 '% Passing Reading': [prpass_district],
                                 '% Overall Passing Rate': [district_passing]
})
district_summary = district_summary[['Total Schools',
                                    'Total Students',
                                    'Total Budget',
                                    'Average Math Score',
                                    'Average Reading Score',
                                    '% Passing Math',
                                    '% Passing Reading',
                                    '% Overall Passing Rate']]
district_summary = district_summary.round(2)

In [23]:
schooltype_df = (schoolsdata_df['type']. groupby(schoolsdata_df['school'])).describe()

In [24]:
schooltype_df.reset_index(inplace=True)

In [25]:
schooltype_df = schooltype_df.rename(columns={"count": "Total Students", "top": "School Type"})

In [26]:
#   * Total School Budget
schoolbudget_df = (schoolsdata_df['budget']. groupby(schoolsdata_df['school'])).describe()

In [27]:
schoolbudget_df.reset_index(inplace=True)

In [28]:
df1_df = pd.merge(schooltype_df, schoolbudget_df, on='school')

In [29]:
df1_df.reset_index(inplace=False)

,index,school,Total Students,unique,School Type,freq,count,mean,std,min,25%,50%,75%,max
0,0,Bailey High School,4976,1,District,4976,4976.0,3124928.0,0.0,3124928.0,3124928.0,3124928.0,3124928.0,3124928.0
1,1,Cabrera High School,1858,1,Charter,1858,1858.0,1081356.0,0.0,1081356.0,1081356.0,1081356.0,1081356.0,1081356.0
2,2,Figueroa High School,2949,1,District,2949,2949.0,1884411.0,0.0,1884411.0,1884411.0,1884411.0,1884411.0,1884411.0
3,3,Ford High School,2739,1,District,2739,2739.0,1763916.0,0.0,1763916.0,1763916.0,1763916.0,1763916.0,1763916.0
4,4,Griffin High School,1468,1,Charter,1468,1468.0,917500.0,0.0,917500.0,917500.0,917500.0,917500.0,917500.0
5,5,Hernandez High School,4635,1,District,4635,4635.0,3022020.0,0.0,3022020.0,3022020.0,3022020.0,3022020.0,3022020.0
6,6,Holden High School,427,1,Charter,427,427.0,248087.0,0.0,248087.0,248087.0,248087.0,248087.0,248087.0
7,7,Huang High School,2917,1,District,2917,2917.0,1910635.0,0.0,1910635.0,1910635.0,1910635.0,1910635.0,1910635.0
8,8,Johnson High School,4761,1,District,4761,4761.0,3094650.0,0.0,3094650.0,3094650.0,3094650.0,3094650.0,3094650.0
9,9,Pena High School,962,1,Charter,962,962.0,585858.0,0.0,585858.0,585858.0,585858.0,585858.0,585858.0
10,10,Rodriguez High School,3999,1,District,3999,3999.0,2547363.0,0.0,2547363.0,2547363.0,2547363.0,2547363.0,2547363.0
11,11,Shelton High School,1761,1,Charter,1761,1761.0,1056600.0,0.0,1056600.0,1056600.0,1056600.0,1056600.0,1056600.0
12,12,Thomas High School,1635,1,Charter,1635,1635.0,1043130.0,0.0,1043130.0,1043130.0,1043130.0,1043130.0,1043130.0
13,13,Wilson High School,2283,1,Charter,2283,2283.0,1319574.0,0.0,1319574.0,1319574.0,1319574.0,1319574.0,1319574.0
14,14,Wright High School,1800,1,Charter,1800,1800.0,1049400.0,0.0,1049400.0,1049400.0,1049400.0,1049400.0,1049400.0

In [30]:
#   * % Passing Math
schoolmathpass_df = (schoolsdata_df['passing_math']. groupby(schoolsdata_df['school'])).mean().to_frame()
schoolmathpass_df.reset_index(inplace=True)
#schoolmathpass_df.head()

In [31]:
df2_df = pd.merge(df1_df, schoolmathpass_df, on="school")

In [32]:
#   * % Passing Reading
schoolreadpass_df = (schoolsdata_df['passing_reading']. groupby(schoolsdata_df['school'])).mean().to_frame()
schoolreadpass_df.reset_index(inplace=True)
#schoolreadpass_df.head()

In [33]:
schoolsum_df = pd.merge(df2_df, schoolreadpass_df, on='school')
#schoolsum_df.head()

In [34]:
schoolsummary_df = schoolsum_df[["school", "School Type", "Total Students", "mean", "passing_math", "passing_reading"]]

In [35]:
#   * Average Math Score
schoolmathavg = (schoolsdata_df['math_score']. groupby(schoolsdata_df['school'])).mean().to_frame()
schoolmathavg.reset_index(inplace=True)

In [36]:
#   * Average Reading Score
schoolreadingavg = (schoolsdata_df['reading_score']. groupby(schoolsdata_df['school'])).mean().to_frame()
schoolreadingavg.reset_index(inplace=True)

In [37]:
averagescores_df = pd.merge(schoolmathavg, schoolreadingavg, on="school")

In [38]:
school_summary_df = pd.merge(schoolsummary_df, averagescores_df, on="school")

In [39]:
#   * Per student Budget
school_summary_df["per_student_budget"] = school_summary_df["mean"]/school_summary_df["Total Students"]

In [40]:
#   * Overall Passing Rate (Average of the above two)
school_summary_df["% Overall Passing Rate"] = (school_summary_df["passing_math"] + school_summary_df["passing_reading"])/2

In [41]:
school_summary_df["per_student_budget"] = school_summary_df.per_student_budget.astype(float)

In [42]:
school_summary_df = school_summary_df.rename(columns={"mean": "Total School Budget", "passing_math": "% Passing Math", "passing_reading": "% Passing Reading", "math_score": "Average Math Score", "reading_score": "Average Reading Score", "per_student_budget": "Per Student Budget"})
school_summary_df = school_summary_df[["school", "School Type", "Total Students", "Total School Budget", "Per Student Budget", "Average Math Score", "Average Reading Score", "% Passing Math", "% Passing Reading", "% Overall Passing Rate"]]

In [43]:
# **Top Performing Schools (By Passing Rate)**

# * Create a table that highlights the top 5 performing schools based on Overall Passing Rate. Include:
#   * School Name
#   * School Type
#   * Total Students
#   * Total School Budget
#   * Per School Budget
#   * Average Math Score
#   * Average Reading Score
#   * % Passing Math
#   * % Passing Reading
#   * Overall Passing Rate (Average of the above two)

Top_performing = school_summary_df.sort_values(by='% Overall Passing Rate', ascending=False)

In [44]:
Bottom_performing = school_summary_df.sort_values(by='% Overall Passing Rate', ascending=True)

In [45]:
# **Math Scores by Grade**

# * Create a table that lists the average Math Score for students of each grade level (9th, 10th, 11th, 12th) at each school.
schoolmathscores = schoolsdata_df[["school", "grade", "math_score"]]

In [46]:
# **Reading Scores by Grade**

# * Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.
schoolreadscores = schoolsdata_df[["school", "grade", "reading_score"]]

In [47]:
# **Scores by School Spending**

# * Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
#   * Average Math Score
#   * Average Reading Score
#   * % Passing Math
#   * % Passing Reading
#   * Overall Passing Rate (Average of the above two)
#print(school_summary_df["Per Student Budget"].max())
#print(school_summary_df["Per Student Budget"].min())
bins = [0,580,615,635,660]
group_labels = ["<$580","$580-$615","$615-$635","$635-$660"]

In [48]:
school_summary_df["Spending Range (Per Student)"] = pd.cut(school_summary_df["Per Student Budget"], bins, labels=group_labels)

In [49]:
spending_range = school_summary_df.groupby("Spending Range (Per Student)")
spending_range = spending_range[["Average Math Score", "Average Reading Score", "% Passing Math", "% Passing Reading", "% Overall Passing Rate"]]

In [50]:
size_bins = [0,1000,2000,5000]
size_labels = ["Small", "Medium", "Large"]
pd.cut(school_summary_df["Total Students"], size_bins, labels=size_labels).head()

0     Large
1    Medium
2     Large
3     Large
4    Medium
Name: Total Students, dtype: category
Categories (3, object): [Small < Medium < Large]

In [51]:
school_summary_df["School Size"] = pd.cut(school_summary_df["Total Students"], size_bins, labels=size_labels)

In [52]:
by_school = school_summary_df.groupby("School Size")
by_school = by_school[["Average Math Score", "Average Reading Score", "% Passing Math", "% Passing Reading", "% Overall Passing Rate"]]

In [53]:
# **Scores by School Type**

# * Repeat the above breakdown, but this time group schools based on school type (Charter vs. District).
by_type = school_summary_df.groupby("School Type")
by_type = by_type[["Average Math Score", "Average Reading Score", "% Passing Math", "% Passing Reading", "% Overall Passing Rate"]]

In [54]:
school_summary = school_summary_df[["school", "School Type", "Total Students", "Total School Budget", "Per Student Budget", "Average Math Score", "Average Reading Score", "% Passing Math", "% Passing Reading", "% Overall Passing Rate"]]

In [67]:
school_summary['Total School Budget'] = school_summary_df['Total School Budget'].map("${:,.0f}".format)
school_summary['Per Student Budget'] = school_summary_df['Per Student Budget'].map("${:,.0f}".format)
pd.options.mode.chained_assignment = None

In [56]:
district_summary

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
0,15,39170,24649428,78.99,81.88,72.39,82.97,87.25

In [57]:
school_summary

,school,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
0,Bailey High School,District,4976,"$3,124,928",$628,77.048432,81.033963,0.646302,0.793006,0.719654
1,Cabrera High School,Charter,1858,"$1,081,356",$582,83.061895,83.975780,0.895587,0.938644,0.917115
2,Figueroa High School,District,2949,"$1,884,411",$639,76.711767,81.158020,0.637504,0.784334,0.710919
3,Ford High School,District,2739,"$1,763,916",$644,77.102592,80.746258,0.657539,0.775100,0.716320
4,Griffin High School,Charter,1468,"$917,500",$625,83.351499,83.816757,0.897139,0.933924,0.915531
5,Hernandez High School,District,4635,"$3,022,020",$652,77.289752,80.934412,0.647465,0.781877,0.714671
6,Holden High School,Charter,427,"$248,087",$581,83.803279,83.814988,0.906323,0.927400,0.916862
7,Huang High School,District,2917,"$1,910,635",$655,76.629414,81.182722,0.633185,0.788138,0.710662
8,Johnson High School,District,4761,"$3,094,650",$650,77.072464,80.966394,0.638521,0.782819,0.710670
9,Pena High School,Charter,962,"$585,858",$609,83.839917,84.044699,0.916840,0.922037,0.919439
10,Rodriguez High School,District,3999,"$2,547,363",$637,76.842711,80.744686,0.640660,0.777444,0.709052
11,Shelton High School,Charter,1761,"$1,056,600",$600,83.359455,83.725724,0.898921,0.926178,0.912550
12,Thomas High School,Charter,1635,"$1,043,130",$638,83.418349,83.848930,0.902141,0.929052,0.915596
13,Wilson High School,Charter,2283,"$1,319,574",$578,83.274201,83.989488,0.909330,0.932545,0.920937
14,Wright High School,Charter,1800,"$1,049,400",$583,83.682222,83.955000,0.902778,0.934444,0.918611

In [58]:
Top_performing.head()

,school,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
13,Wilson High School,Charter,2283,1319574.0,578.0,83.274201,83.989488,0.909330,0.932545,0.920937
9,Pena High School,Charter,962,585858.0,609.0,83.839917,84.044699,0.916840,0.922037,0.919439
14,Wright High School,Charter,1800,1049400.0,583.0,83.682222,83.955000,0.902778,0.934444,0.918611
1,Cabrera High School,Charter,1858,1081356.0,582.0,83.061895,83.975780,0.895587,0.938644,0.917115
6,Holden High School,Charter,427,248087.0,581.0,83.803279,83.814988,0.906323,0.927400,0.916862

In [59]:
Bottom_performing.head()

,school,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
10,Rodriguez High School,District,3999,2547363.0,637.0,76.842711,80.744686,0.640660,0.777444,0.709052
7,Huang High School,District,2917,1910635.0,655.0,76.629414,81.182722,0.633185,0.788138,0.710662
8,Johnson High School,District,4761,3094650.0,650.0,77.072464,80.966394,0.638521,0.782819,0.710670
2,Figueroa High School,District,2949,1884411.0,639.0,76.711767,81.158020,0.637504,0.784334,0.710919
5,Hernandez High School,District,4635,3022020.0,652.0,77.289752,80.934412,0.647465,0.781877,0.714671

In [60]:
pd.pivot_table(schoolmathscores, index= "school", columns= "grade", aggfunc="mean")

                      math_score
grade                       10th       11th       12th        9th
school
Bailey High School     76.996772  77.515588  76.492218  77.083676
Cabrera High School    83.154506  82.765560  83.277487  83.094697
Figueroa High School   76.539974  76.884344  77.151369  76.403037
Ford High School       77.672316  76.918058  76.179963  77.361345
Griffin High School    84.229064  83.842105  83.356164  82.044010
Hernandez High School  77.337408  77.136029  77.186567  77.438495
Holden High School     83.429825  85.000000  82.855422  83.787402
Huang High School      75.908735  76.446602  77.225641  77.027251
Johnson High School    76.691117  77.491653  76.863248  77.187857
Pena High School       83.372000  84.328125  84.121547  83.625455
Rodriguez High School  76.612500  76.395626  77.690748  76.859966
Shelton High School    82.917411  83.383495  83.778976  83.420755
Thomas High School     83.087886  83.498795  83.497041  83.590022
Wilson High School     83.724422  83.195326  83.035794  83.085578
Wright High School     84.010288  83.836782  83.644986  83.264706

In [61]:
pd.pivot_table(schoolreadscores, index= "school", columns= "grade", aggfunc="mean")

                      reading_score
grade                          10th       11th       12th        9th
school
Bailey High School        80.907183  80.945643  80.912451  81.303155
Cabrera High School       84.253219  83.788382  84.287958  83.676136
Figueroa High School      81.408912  80.640339  81.384863  81.198598
Ford High School          81.262712  80.403642  80.662338  80.632653
Griffin High School       83.706897  84.288089  84.013699  83.369193
Hernandez High School     80.660147  81.396140  80.857143  80.866860
Holden High School        83.324561  83.815534  84.698795  83.677165
Huang High School         81.512386  81.417476  80.305983  81.290284
Johnson High School       80.773431  80.616027  81.227564  81.260714
Pena High School          83.612000  84.335938  84.591160  83.807273
Rodriguez High School     80.629808  80.864811  80.376426  80.993127
Shelton High School       83.441964  84.373786  82.781671  84.122642
Thomas High School        84.254157  83.585542  83.831361  83.728850
Wilson High School        84.021452  83.764608  84.317673  83.939778
Wright High School        83.812757  84.156322  84.073171  83.833333

In [62]:
spending_range.mean()

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
Spending Range (Per Student),,,,,
<$580,83.274201,83.989488,0.909330,0.932545,0.920937
$580-$615,83.549353,83.903238,0.904090,0.929741,0.916915
$615-$635,80.199966,82.425360,0.771721,0.863465,0.817593
$635-$660,77.866721,81.368774,0.679574,0.802681,0.741127

In [63]:
by_school.mean()

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
School Size,,,,,
Small,83.821598,83.929843,0.911582,0.924719,0.918150
Medium,83.374684,83.864438,0.899313,0.932448,0.915881
Large,77.746417,81.344493,0.676313,0.801908,0.739111

In [64]:
by_type.mean()

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
School Type,,,,,
Charter,83.473852,83.896421,0.903632,0.930528,0.917080
District,76.956733,80.966636,0.643025,0.783246,0.713135

In [65]:
# As final considerations:

# * Your script must work for both data-sets given.
# * You must use the Pandas Library and the Jupyter Notebook.
# * You must submit a link to your Jupyter Notebook with the viewable Data Frames. 
# * You must include an exported markdown version of your Notebook called  `README.md` in your GitHub repository.  
# * You must include a written description of three observable trends based on the data. 
# * See [Example Solution](PyCitySchools/PyCitySchools_Example.pdf) for a reference on the expected format.

In [66]:
# ## Hints and Considerations

# * These are challenging activities for a number of reasons. For one, these activities will require you to analyze thousands of records. Hacking through the data to look for obvious trends in Excel is just not a feasible option. The size of the data may seem daunting, but Python Pandas will allow you to efficiently parse through it. 

# * Second, these activities will also challenge you by requiring you to learn on your feet. Don't fool yourself into thinking: "I need to study Pandas more closely before diving in." Get the basic gist of the library and then _immediately_ get to work. When facing a daunting task, it's easy to think: "I'm just not ready to tackle it yet." But that's the surest way to never succeed. Learning to program requires one to constantly tinker, experiment, and learn on the fly. You are doing exactly the _right_ thing, if you find yourself constantly practicing Google-Fu and diving into documentation. There is just no way (or reason) to try and memorize it all. Online references are available for you to use when you need them. So use them!

# * Take each of these tasks one at a time. Begin your work, answering the basic questions: "How do I import the data?" "How do I convert the data into a DataFrame?" "How do I build the first table?" Don't get intimidated by the number of asks. Many of them are repetitive in nature with just a few tweaks. Be persistent and creative!

# * Expect these exercises to take time! Don't get discouraged if you find yourself spending  hours initially with little progress. Force yourself to deal with the discomfort of not knowing and forge ahead. This exercise is likely to take between 15-30 hours of your time. Consider these hours an investment in your future!

# * As always, feel encouraged to work in groups and get help from your TAs and Instructor. Just remember, true success comes from mastery and _not_ a completed homework assignment. So challenge yourself to truly succeed!